{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content%}

<div id="services" class="services section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="section-heading  wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
            <h4>Amazing <em>Services &amp; Features</em> for you</h4>
            <img src="assets/images/heading-line-dec.png" alt="">
            <p>If you need the greatest collection of HTML templates for your business, please visit <a rel="nofollow" href="https://www.toocss.com/" target="_blank">TooCSS</a> Blog. If you need to have a contact form PHP script, go to <a href="https://templatemo.com/contact" target="_parent">our contact page</a> for more information.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="service-item first-service">
            <div class="icon"></div>
            <h4>Grow Your Loan limit</h4>
            <p>We designed our loan process to fit your needs and help you grow. As you build credit with Pewa Pesa, you unlock larger loan amounts.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="service-item second-service">
            <div class="icon"></div>
            <h4>Ethical collections</h4>
            <p>We do not condone any aggressive debt collection practices, including debt shaming.
            If you experience any form of harassment, please report the issue to us immediately via our email.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="service-item third-service">
            <div class="icon"></div>
            <h4>Fair, transparent rates as low as 4%</h4>
            <p>We charge one flat fee with every loan. You'll always know what you owe with Pewa Cash.</p>
          </div>
        </div>
      </div>
    </div>
  </div>